@{
    ViewData["Title"] = "Home Page";
}
@model Employee
<div class="text-center">
    @if(User.Identity.IsAuthenticated == false)
    {
        <div>You are not currently logged in</div>
    }
    else
    {
        <h1 class="text-uppercase text-center"> Welcome @(User.Claims.ToList().Count > 2 ? Model.FullName : User.Identity.Name)</h1>

    }
</div>
