@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Employee";
}
@model Recrutiment_Test.Models.EmployeeModel
<h2>Add a new Employee</h2>
<form id="AddEmployeeForm" asp-controller="Employees" asp-action="Index" method="post" style="padding:1%">
    <label class="form-label">FullName</label><br />
    <input id="fullName" name="fullName" type="text" /><br />
    <label>Subdivision</label>
    @Html.DropDownList("subdivision", ViewBag.Subdivision, "Select Subdivision", new { @class = "form-control" })
    <label class="form-label">Position</label>
    @Html.DropDownList("position", ViewBag.positions, "Select position", new { @class = "form-control" })
    <label class="form-label">Active</label>
    <input type="checkbox" name="Status" id="Active"/><br />
    
    <label class="form-label">Select Peoples Partner</label>
    @Html.DropDownListFor(x => x.Id,
            new SelectList(Model.EmployeeList, "Value", "Text"),
            "Select Peoples Partner",
            new { @class = "form-control" })
    <label class="form-label">Out-of-Office Balance</label><br />
    <input id="oooBalance" name="oooBalance" type="number" min="0" /><br /><br />
    <input type="submit" value="Add" style="padding:0.2%"/>
</form>