@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Employee";
}
<h2>Add a new Employee</h2>
<form id="AddEmployeeForm" asp-controller="Employees" asp-action="AddEmployee" method="post" style="padding:1%">
    <label class="form-label">FullName</label><br />
    <input id="fullName" name="fullName" type="text"/><br />
    <label>Subdivision</label>
    @Html.DropDownList("subdivision", ViewBag.Subdivision, "Select Subdivision", new { @class = "form-control" })
    <label class="form-label">Position</label>
    @Html.DropDownList("position", ViewBag.positions, "Select position", new { @class = "form-control" })
    <label class="form-label">Active</label>
    <input type="checkbox" name="Status" id="Active"/><br />
    
    <label class="form-label">Select Peoples Partner</label>
    @Html.DropDownList("peoplesPartner",
            new SelectList(((EmployeeModel)ViewData["EmployeeModel"]).EmployeeList, "Value", "Text"),
            "Select Peoples Partner",
            new { @class = "form-control"})
    <label class="form-label">Out-of-Office Balance</label><br />
    <input id="oooBalance" name="oooBalance" type="number" min="0" /><br /><br />
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>
<div style="color:red; font-size:large; font-weight:bold">@(!Model ? "An Error as occured, employee was not added" : "")</div>
<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}