@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Forbidden Acces";
}

<h3>You are not authorized to acces this page</h3>

<div>
    <a asp-action="Index" asp-controller="Home"><button class="btn-primary">Back to Homepage</button></a>
</div>