@{
    ViewData["Title"] = "Forbidden Acces";
}

<h3>You are not authorized to acces this page</h3>

<div>
    <a asp-action="Index" asp-controller="Home"><button class="btn-primary">Back to Homepage</button></a>
</div>