@{
    ViewData["Title"] = $"Submit {Model.Id}"; 
}
@model ApprovalRequest
<head>
    <script>
        function approval(approve) {
            document.getElementById("approve").value = approve
            document.getElementById("form1").submit();
        }
    </script>
</head>
<form asp-action="Approve" method="post" id="form1">
    <div>
        <input type="hidden" id="approve" name="approve" />
        <input type="hidden" name="ID" id="ID" value="@Model.Id" />
        <h3 class="text-center">Are you sure that you want to approve request @Model.Id</h3>
        <br />
        <div>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <input type="button" name="yes" value="YES" class="btn btn-success btn-lg" onclick="approval(true)" />
                    </div>
                    <div class="col text-center">
                        <input type="button" name="no" value="NO" class="btn btn-primary btn-lg" onclick="approval(false)" />
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    

</form>
