@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = $"Submit {Model.Id}"; 
}
@model LeaveRequest
<head>
    <script>
        function submition(submit) {
            document.getElementById("submitInput").value = submit
            if (submit) {
                if (document.getElementById("approver").value != "") { 
                    document.getElementById("form1").submit();
                }
                else document.getElementById("approver").style.backgroundColor = "#FF8080"
            }
            else
                document.getElementById("form1").submit();
        }
        function returnColor() {
            document.getElementById("approver").style.backgroundColor = "#FFFFFF"
        }
    </script>
</head>
<form asp-action="Submit" method="post" id="form1">
    <div>
        <input type="hidden" id="submitInput" name="submitInput" />
        <input type="hidden" name="ID" id="ID" value="@Model.Id" />
        <h5>Who do you want to ask to approve this request</h5>
        <div>
            @Html.DropDownList("approver",
                     new SelectList(((EmployeeModel)ViewData["EmployeeModel"]).EmployeeList, "Value", "Text"),
                     "Select Approver",
                     new { @class = "form-control", @required = true, @onClick = "returnColor()"})
        </div>
        <h3 class="text-center">Are you sure that you want to submit leave request @Model.Id</h3>
        <br />
        <div>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <input type="button" name="yes" value="YES" class="btn btn-success btn-lg" onclick="submition(true)" />
                    </div>
                    <div class="col text-center">
                        <input type="button" name="no" value="NO" class="btn btn-primary btn-lg" onclick="submition(false)" />
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    

</form>
